.header-text {
  text-align: center;
}

.green-section {
  background-color: green;
  color: white;
}

.cyan {
  color: cyan;
}

.strike-through {
  text-decoration: line-through;
}

.section-title {
  font-family: Arial;
}
