* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.btn {
  color: white;
  background-color: hsl(200, 100%, 50%);
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
  position: relative;
}

.btn:hover::after {
  --default-transition: translateY(200%);
  content: "Loading";
  position: absolute;
  left: 0;
  bottom: 0;
  color: black;
  transform: var(--default-transition);
  animation: loading 2s linear forwards;
}

@keyframes loading {
  0% {
    content: "Loading";
  }
  10% {
    content: "Loading.";
  }
  20% {
    content: "Loading..";
  }
  25% {
    transform: var(--default-transition) rotate(30deg);
  }
  30% {
    content: "Loading...";
  }
  40% {
    content: "Loading..";
  }
  50% {
    content: "Loading.";
    transform: var(--default-transition) rotate(0deg);
  }
  60% {
    content: "Loading..";
  }
  70% {
    content: "Loading...";
  }
  75% {
    transform: var(--default-transition) rotate(-30deg);
  }
  80% {
    content: "Loading..";
  }
  90% {
    content: "Loading...";
  }
  100% {
    content: "Loaded";
    transform: var(--default-transition) rotate(0deg);
  }
}
